name: DAVE - deploy action

on: [workflow_dispatch]

env:
  TF_IN_AUTOMATION: true
  TF_WORKSPACE: gcp-contractreader-engine-dev-dave

jobs:
  deploy_to_prod:
    runs-on: ubuntu-latest
    name: Deploy Contract Reader Engine Service
    steps:
      - uses: actions/checkout@v2
      - id: docker
        uses: ./.github/actions/build-docker-deploy-to-gcp
        with:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          BRANCH: dev-dave
          SERVICE: contract-reader-engine-service-tfd-dev-dave
          IMAGE: contract-reader-engine-image-dev-dave
          TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
          
