name: Deploy Contract Reader Engine Service to production

on: [workflow_dispatch]

jobs:
  deploy_to_prod:
    runs-on: ubuntu-latest
    name: Deploy Contract Reader Engine Service
    steps:
      - uses: actions/checkout@v2
      - id: docker
        uses: ./.github/actions/build-docker-deploy-to-gcp
        with:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          BRANCH: main
          SERVICE: contract-reader-engine-service-tfd
          IMAGE: contract-reader-engine-image
          TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
          
